<div class="center">
    <div class="head">
        <h2>实用工具</h2>
    </div>
    <ul class="lst">
        <li><a href="<%= express_url %>">快递单号查询</a></li>
        <li><a href="<%= cet_url %>">四六级查询</a></li>
        <li><a href="<%= avatar_url %>">实时上传头像</a></li>
        <li><a href="<%= todo_index_url %>">TODO LIST</a></li>
        <li><a href="<%= weather_url %>">天气查询</a></li>
    </ul>
<div>
